.button {
    outline: none;
    border: none;
    background: #FFFFFF;
    color: #ffffff;
    border-radius: 22px;
    cursor: pointer;
    transition: .2s opacity;
    padding: 15px 50px 15px 50px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 100px;
    margin-bottom: 70px;

    &:hover {
        opacity: .7;
    }
}

.btn-mf {
    margin: 0;
    padding: 8px 20px 8px 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

