.products__wrapper {
    flex: 0 0 24%;
    box-shadow: 2px 4px 10px -2px;
    margin: 20px 0 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .2s transform, .2s color;
    color: rgb(0 0 0 / 20%);
}

.products__wrapper:hover {
    transform: scale(1.01);
    color: rgb(0 0 0 / 30%);
}

.card__img-wrapper {
    text-align: center;
}

.card__img {
    max-width: 100%;
    height: 250px;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center; 
    overflow: hidden;
    padding: 10px;
}

.card__button-wrapper {
    margin: 5px 15px 15px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 10px 0;
}

.card__title {
    font-size: min(18px, 2.5vw);    
    padding: 10px 0 20px 12px;
    color: #000;  
}

.card__price {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .products__wrapper {
        flex: 0 0 49%;
    }
}